<div class="onboarding onboarding-popup bootstrap">
  <div class="content">
    <p>{{ lost.lost }}</p>
    <p>{{ lost.continue }}</p>
    <div class="text-center">
      <button class="btn btn-primary onboarding-button-goto-current">{{ generic.continue }}</button>
    </div>
    <p>{{ lost.definitly }}</p>
    <div class="text-center">
      <button class="btn btn-alert onboarding-button-stop">{{ lost.definitlyButton }}</button>
    </div>
  </div>
</div>
